@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #4999f8;
}

.wrapper {
  width: 70%;
  padding: 30px 30px 38px;
  margin: auto;
  margin-top: 2rem;
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

input {
  color: #000;
  background: none;
  font-size: 1.06rem;
  font-weight: 500;
  border-radius: 0.125rem !important;
  letter-spacing: 1.4px;
  border: 1px solid #aaa;
  padding: 0 2.85rem 0 1rem;
}

input:focus {
  border: 1px solid #4999f8 !important;
}

label {
  text-transform: uppercase;
}

.modal {
  overflow: scroll;
}
